Source: asedriveiiie
Section: libs
Priority: optional
Maintainer: Ludovic Rousseau <rousseau@debian.org>
Build-Depends: debhelper (>= 7.0.0~), libusb-dev, dpatch, libpcsclite-dev (>=1.2.0-stable-2), pkg-config
Standards-Version: 3.8.3
Homepage: http://www.athena-scs.com/

Package: libasedrive-usb
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, pcscd (>=1.2.0-stable-2)
Provides: pcsc-ifd-handler
Description: PC/SC driver for the Athena ASEDrive IIIe USB smart card reader
 This package provides a PC/SC IFD handler bundle for the Athena ASEDrive
 IIIe USB smart card readers.  This driver is necessary to use one of these
 devices with the PC/SC Lite resource manager (pcscd).

Package: libasedrive-serial
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, pcscd (>=1.2.0-stable-2)
Recommends:
Provides: pcsc-ifd-handler
Description: PC/SC driver for the Athena ASEDrive IIIe serial smart card reader
 This package provides a PC/SC IFD handler bundle for the Athena ASEDrive
 IIIe serial smart card readers.  This driver is necessary to use one
 of these devices with the PC/SC Lite resource manager (pcscd).
